<!DOCTYPE html>
html
    body
        link(type="text/css" rel="stylesheet" href="static/styles.css")
        div.container
            h3 You have reached my REST API backend
            p In order to view and edit the contents of the server, go to /posts or /posts/'post id'</p>